// set theme colors
$primary: #ce2127;
$dark: #212121;
$theme1: #33a8d1;

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

// add custom colors to the bootstrap theme
$custom-theme-colors: (
        "theme1": $theme1,
        "white": $white
);

// overwrite bootstrap sass variables (check _variables for all options)
$enable-negative-margins: true;
$navbar-light-color: $dark;
$font-family-base: 'Verdana', sans-serif;
$font-size-base: .85rem;
$input-btn-padding-x: 1rem;
$border-radius: 2px;
$link-color: $theme1;
