$accent: #8bc34a;
$accent-dark: #689e30;
$bg-primary: #F0F3F5;
$bg-secondary: #CFD8DC;
$text-light: #6C757D;
$text: #546E7A;
$text-dark: #343A40;


$theme-colors: (
  'primary': $accent,
  'success': $accent-dark,
  'light': $text-light,
  'secondary': $text,
  'warning': #CDDC39,
  'danger': #E8364F,
  'dark': $text-dark
);

$btn-close-color: $text;
$btn-active-border-color: inherit;

$sidebar-offset: 200px;

$transition: all 0.3s ease;

@import 'bootstrap/scss/_functions';
@import 'bootstrap/scss/_variables';
@import 'bootstrap/scss/_mixins';
