// load bootstrap
@import 'bootstrap/scss/bootstrap';

body {
  min-width: 992px;
  color: $text-dark;
  background: $bg-primary;
}

a {
  text-decoration: none;
}

.custom-input {
  width: 400px;
}

.custom-table {
  td {
    min-height: 60px;
    padding: 10px 20px;
  }
}

.table-separate {
  border-collapse: separate;
  border-spacing:0 20px;
}

.fixed-col {
  max-width: 350px;
}

.form-control:focus, .form-select:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}

.letter-spacing {
  letter-spacing: 1px;
}

.bordered {
  border-bottom: 1px solid;
}

.feature-add {
  border-radius: 50%;
  background: $accent;
  width: 40px;
  height: 40px;
  border: 5px solid $accent-dark;

  i {
    font-size: 16px;
    line-height: 1;
    color: $white;
  }
}

.task-icon {
  border-radius: 50%;
  border: 1px solid $gray-400;
  width: 45px;
  height: 45px;

  i {
    line-height: 1;
    color: $gray-700;
  }
}

.item-add-icon {
  background: $accent;
  width: 20px;
  height: 20px;

  i {
    font-size: 16px;
    line-height: 1;
    color: $white;
  }
}
.status-icon {
  font-size: 12px;
}
.calendar-item {
  min-width: 80px;
}

.btn-close-custom {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  font-size: 12px;
  opacity: 1!important;
  transform: translate(20px, -20px);
}
.btn-close-custom--modal {
  transform: translate(14px, -14px);
}